fastapi==0.121.3
langchain_text_splitters
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchainhub

python-dotenv==1.2.1
uvicorn==0.38.0
jinja2

faiss-cpu
sentence-transformers
huggingface-hub

